
/firebase-demo-app/.vs/firebase-demo-app/v16
/firebase-demo-app/firebase-demo/bin/Debug/netcoreapp3.1
/firebase-demo-app/firebase-demo/obj
/firebase-demo-app/firebase-demo/firebase-demo.csproj.user
/firebase-demo-app/firebase-demo/fir-demo-9063a-firebase-adminsdk-wwos4-ac822319c0.json
/firebase-demo-app/firebase-demo/notes.md
